<div class="card user-card">
  <div class="background bg-info">
    <img
      class="img-fluid rounded-circle profile-pic border-2 border-white"
      [src]="user.avatar_url"
      alt="github image"
    />
  </div>
  <div class="card-body">
    <div class="card-title h4">
      {{ user.name }}
    </div>
    <p class="card-text"><b>Bio:</b> {{ user.bio }}</p>
    <p class="card-text"><b>Blog:</b> {{ user.blog }}</p>
    <p class="card-text">
      <b>Updated At:</b> {{ user.updated_at | date: "short" }}
    </p>
  </div>
</div>
